{% extends 'base.html.twig' %}

{% block title %}Résultat{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>{{ isSuccess ? 'Bien joué !' : 'Game Over !' }}</h1>
        <p>Votre score : {{ score }}</p>
        {% if isSuccess %}
            <a href="{{ path('commencer_jeu') }}" class="btn btn-primary">Rejouer</a>
        {% endif %}
    </div>
{% endblock %}