<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <style>
        :root {
            --primary-blue: #2c5282;
            --secondary-blue: #3182ce;
            --light-gray: #f7f9fc;
            --dark-gray: #2d3748;
            --white: #ffffff;
            --text-dark: #1a202c;
        }

        body {
            background-color: var(--light-gray);
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            color: var(--text-dark);
        }
        .main-content {
            flex: 1;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="main-content">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>